*{
	margin: 0px;
	padding: 0px;
	
}
{	font-family: "Sora", sans-serif;
	 font-family: "Inter", sans-serif;
}
*{
			margin: 0px;
			padding: 0px;
		}
.container-fluid{
	background-color: black;
}
div {
	/*border: 1px solid red;*/
	min-height: 100px;
}

h1, h2, h3, h4 {
	font-family: "Sora", sans-serif;
	color: white;
	margin-bottom: 20px;
}

p, a {
	font-family: "Inter", sans-serif;
	color: #A1A1AA;
	margin-bottom: 20px;
	font-size: 14px;
}

/*--NavBar--*/
.nav {
	margin-top: 0px;
	background-color: #000000;
	min-height: 1.25em;
	color: #FFFFFF;
	position: fixed;
	border-bottom: 2px solid #FF00FF;
	margin-bottom: 5px;
	width: 100%;
}

div.logo{
	font-family: "Sora", sans-serif;
}
.name{
	padding-top: 20px;
}
div.logo img{
	width: 100%;
}

div.link ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
	margin-right: 30px;
}

div.link ul a{
	color: #ffffff;
	text-decoration: none;
}

div.link ul a:hover{
	margin: 4x;
	color: yellow;
}

.icon{
	width: 17px;
	margin-right: 4px;
	margin-left: 7px;
}

/*-- Hero Section --*/

.hero_section {
    height: 100vh;
	background-color: black;
    background-image: url('../images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	border-bottom: 2px solid #FF00FF;
	margin-bottom: 5px;
}

.overlay {
	background-color: rgba(0,0,0,0.5);
	width: inherit;
	height: inherit;
}

.hero_text{
	
	color: #ffffff;
	text-align: justify;
}

.hero_text h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.hero_text p {
	font-size: 20px;
	margin-bottom: 20px;
}

.hero_text p {
	font-size: 20px;
	margin-bottom: 20px;
}

.hero_text a, .cta a {
	font-size: 20px;
	text-decoration: none;
	background: linear-gradient(90deg, #800080, #D100D1) ;
	color: white;
	padding: 10px;
	border-radius: 20px;
}
.hero_text a:hover, .cta a:hover{
	margin: 4x;
	box-shadow: 0px 0px 9px #FFB8FF;
	padding: 12px;
	color: yellow;
}


/*--flagship section--*/

.flagship {
	min-height: 500px;
	background-color: #000000;
	border-bottom: 2px solid #FF00FF;
	margin-bottom: 10px;
}
.flagtext{
	min-height: 20px;
	margin-left: 30px;
	color: white;
	padding-bottom: 0px;
}

.flagoo {
	text-align: justify;
	color: #ffffff;
}
h2{
	text-align: left;
	font-family: "Sora", sans-serif;
}
.flag_image1{
	min-height: 200px;
	margin-bottom: 15px;
	background-image: url(../images/flag1.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag_image2{
	min-height: 200px;
	margin-bottom: 15px;
	background-image: url(../images/flag3.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag_image3{
	min-height: 200px;
	margin-bottom: 15px;
	background-image: url(../images/flag2.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*-- Testimonial --*/
.testimonial{

}

.test_head h1{
	margin-bottom: 10px;
	color: #FFFFFF;
}
.test_body{
	text-align: justify;
}

.text_body_content {
	width: 40%;
	margin: 20px;
	border: 2px solid #FF00FF;
	border-radius: 15px;
	padding: 20px;
}

/*-- CTA --*/

.cta{
	
	min-height: 300px;
	text-align: justify;
	border-bottom: 2px solid #FF00FF;
	margin-bottom: 10px;
}
.cta_text{
	margin: 30px;
	color: white;
}

.text_head{
	
}
.cta_image{
	height: 300px;
	margin-right: 10px;
	padding: 0px;
	background-image: url(../images/cta.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-- Footer --*/
div.link2 ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
	margin-right: 20px;
}

div.link2 ul a{
	color: #ffffff;
	text-decoration: none;
}

div.link2 ul a:hover{
	margin: 4x;
	color: yellow;
}

.link2 {
	border-right: 2px;
}

.news {
	border: 1px solid #FF00FF;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
}

button{
	font-size: 20px;
	background: linear-gradient(90deg, #800080, #D100D1) ;
	color: white;
	padding: 5px;
	margin-top: 10px;
	border-radius: 20px;
	border: 1px solid black;
	width: 150px;
}

.form{
	margin: 7px;
	background-color: white;
	border-radius: 20px;
	border: 1px solid black;
	padding: 5px;
}

.copyright{
	text-align: center;
	padding-top: 150px;
}

.privacy {
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	color: gray;
}

.privacy a {
	text-decoration: none;
	color: gray;
}

.privacy a:hover {
	color: yellow;
}